{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork"{% if post.locale %} lang="{{ post.locale }}"{% endif %}>
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
    {% endif %}
    <h2 class="archive__item-title no_toc" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    {% include page__meta.html type=include.type %}
    {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
    {%- if post.core_discipline or post.meta_skill or post.project_type -%}
      <div class="archive__item-tags">
        {%- if post.core_discipline -%}
          <p><strong>Core Discipline:</strong>
          {% for tag in post.core_discipline %}
            <span class="tag-badge">{{ tag }}</span>
          {% endfor %}</p>
        {%- endif -%}

        {%- if post.meta_skill -%}
          <p><strong>Meta-Skill:</strong>
          {% for tag in post.meta_skill %}
            <span class="tag-badge">{{ tag }}</span>
          {% endfor %}</p>
        {%- endif -%}

        {%- if post.project_type -%}
          <p><strong>Project Type:</strong> <span class="tag-badge-type">{{ post.project_type }}</span></p>
        {%- endif -%}
      </div>
    {%- endif -%}
  </article>
</div>