---
layout: archive
---

{{ content }}

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign items_max = 0 %}

{% for taxonomy in site.categories %}
  {% assign posts = taxonomy[1] | where: 'section', page.section | where_exp: 'post', 'post.hidden != true' %}
  {% if posts.size > items_max %}
    {% assign items_max = posts.size %}
  {% endif %}
{% endfor %}

{% if items_max > 0 %}
  <ul class="taxonomy__index">
    {% for i in (1..items_max) reversed %}
      {% for taxonomy in site.categories %}
        {% assign posts = taxonomy[1] | where: 'section', page.section | where_exp: 'post', 'post.hidden != true' %}
        {% if posts.size == i %}
          <li>
            <a href="#{{ taxonomy[0] | slugify }}">
              <strong>{{ taxonomy[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>

  {% for i in (1..items_max) reversed %}
    {% for taxonomy in site.categories %}
      {% assign posts = taxonomy[1] | where: 'section', page.section | where_exp: 'post', 'post.hidden != true' %}
      {% if posts.size == i %}
        <section id="{{ taxonomy[0] | slugify }}" class="taxonomy__section">
          <h2 class="archive__subtitle">{{ taxonomy[0] }}</h2>
          <div class="entries-{{ entries_layout }}">
            {% for post in posts %}
              {% include archive-single.html type=entries_layout %}
            {% endfor %}
          </div>
          <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
        </section>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}
